<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Aqui son totes les importacions de boostrap, tant de css com de javascript -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Tienda Ollivanders</title>
</head>

<body style="background-color: lightcyan;">
    <!-- Barra de navegació per poder-se moure entre les diferentes págines -->
    <!-- Esta fet seguint la plantilla de bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:5000">Tienda Ollivander</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000">Inicio<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/lista">Lista items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/modificar">Modificar items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/update">Actualizar items</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5000/anadir">Añadir item</a>
                </li>
            </ul>
        </div>
    </nav>

    <br/>
    <br/>
    <br/>

    <!-- Aquest es el recuadre del formulari per crear objectes -->
    <div class="container">
        <div class="row justify-content-md-center">
            <!-- S'utlitzen columnes per poder centrar de manera manual el formulari -->
            <div class="col"></div>
            <div class="col">
                <!-- Titol del formulari -->
                <h1>Añadir item:</h1>
                <br/>
                <form action="http://127.0.0.1:5000/index">
                    <div class="form-group text-light bg-dark box-shadow rounded border border-dark p-md-5">
                        <!-- Estructura del formulari amb labels i inputs -->
                        <label for="itemInput">Item:</label>
                        <input id="itemInput" class="form-control form-control-sm" type="text" placeholder="Nombre item:" />
                        <br/>
                        <label for="itemQuality">Calidad:</label>
                        <input id="itemQuality" class="form-control form-control-sm" type="text" placeholder="Calidad Item" />
                        <br/>
                        <label for="itemSellin">Sell in</label>
                        <input id="itemSellin" class="form-control form-control-sm" type="text" placeholder="Sell in item" />
                        <br/>
                        <input type="submit" class="btn btn-success" value="Añadir item" />
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

</body>