<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Tienda Ollivanders</title>
</head>
<body>
    <div class="container text-center mx-auto">
        
        <h1>Welcome to ollivanders</h1>
        <div class="alert alert-danger" role="alert"><a href="#" class="alert-link">Entrar</a></div>
    </div>
</body>
</html>